.block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  font-family: 'Oswald', 'Raleway', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  letter-spacing: 0.1em;
}

.b4__box-wrapper {
  width: 50vw;
  height: 50vw;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.b4__box-wrapper__column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.b4__photo {
  width: 100%;
  min-height: 50vw;
}

.b4__name,
.b4__title {
  font-size: 2em;
  font-weight: 200;
}

.b4__education,
.b4__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;

  padding: 3em 3em 0 3em;

  font-weight: 200;
}
.b4__education-enter,
.b4__work-name {
  font-weight: 400;
  font-size: 1.5em;
}
.b4__education-item,
.b4__work-palace {
  list-style-type: none;
}
.b4__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}

@media (max-width: 768px) {
  .b4__box-wrapper {
    width: 100vw;
    height: 70vw;
  }
  .b4__box-wrapper__mobile-text {
    width: 100vw;
    height: 50vh;
  }

  .b4__box-wrapper:nth-child(3) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
