.block4 {
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  font-family: 'Oswald', 'Raleway', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  letter-spacing: 0.1em;
}

.b4__box-wrapper {
  width: 50vw;
  height: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  box-sizing: border-box;
}
.b4__box-wrapper__column {
  flex-direction: column;
}
.b4__photo {
  width: 100%;
  min-height: 50vw;
}

.b4__name,
.b4__title {
  font-size: 2em;
  font-weight: 200;
}

.b4__education,
.b4__work {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  align-content: space-around;

  padding: 3em 3em 0 3em;

  font-weight: 200;
}
.b4__education-enter,
.b4__work-name {
  font-weight: 400;
  font-size: 1.5em;
}
.b4__education-item,
.b4__work-palace {
  list-style-type: none;
}
.b4__work {
  display: flex;
  flex-flow: row;
}

@media (max-width: 768px) {
  .b4__work {
    padding: 1em 1em 0 1em;
  }
  .b4__work-name,
  .b4__education-enter {
    font-size: 1.2em;
  }
  .b4__box-wrapper {
    width: 100vw;
    height: 70vw;
  }
  .b4__box-wrapper__mobile-text {
    width: 100vw;
    height: 50vh;
    padding: 2em;
  }

  .b4__box-wrapper:nth-child(3) {
    order: 1;
  }
}
