.block2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.b2__social-text {
  font-size: 2em;

  letter-spacing: 0.2em;
  text-decoration: underline;

  font-family: 'Oswald', 'Raleway', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;

  font-weight: 200;
}

.b2__box {
  margin: 2em 0 2em 2em;
  cursor: pointer;
}
.b2__box:first-child {
  margin: 3em;
  background-color: red;
}

.b2__box-img {
  height: 3em;
  padding: 1em;

  border: 1px #f3f3f3 solid;
}

@media (max-width: 768px) {
  .block2 {
    display: none;
  }
}
