.block2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.b2__social-text {
  font-size: 2em;

  letter-spacing: 0.4rem;

  font-family: 'Oswald', 'Raleway', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;

  font-weight: 200;
}

.b2__box {
  margin: 3rem 0 3rem 3rem;
  cursor: pointer;
}

.b2__box-img {
  height: 3rem;
  padding: 1rem;

  border: 1px #f3f3f3 solid;
}

@media (max-width: 768px) {
  .block2 {
    display: none;
  }
}
