.footer-text {
  position: relative;
  padding: 9rem 0 3rem 3rem;

  font-size: calc(10px + (14 - 10) * (100vw - 400px) / (1600 - 400));
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-family: 'Oswald', 'Raleway', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;

  background-color: #fafafa;
}

.footer-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
